*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#login{
  background: url("bg-login.jpg");
  /*background: linear-gradient(lightCyan,skyBlue,deepSkyBlue);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;*/
}



h1, button{
  text-align: center;
  font-family: Roboto;
}
input{
  width: 70%;
  margin: 10px;
  padding: 5px;
  border: solid 2px deepSkyBlue;
  border-radius: 20px;
}
button{
  width: 30%;
  margin: 20px;
  padding: 5px;
  border: solid 2px deepSkyBlue;
  border-radius: 20px 0 20px 0;
}
.hover-me:hover{
  background-color: deepSkyBlue;
}

.box{
  border: solid 2px deepSkyBlue;
  border-radius: 30px;
  margin: auto 30px;
  padding: 20px;
  background:linear-gradient(45deg,lightCyan,deepSkyBlue,skyBlue);
}

@media(max-width: 610px){
#login{
  background: url("bg-login.jpg");
  background: linear-gradient(lightCyan,skyBlue,deepSkyBlue);
 background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  position: fixed;
}
}
