@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  position: relative;
  background-color: #00aadd;
  padding: 30px 20px;
}
.nav div{
  display: inline-block;
  position: absolute;
  left:0px;
  padding: 15px;
  font-size: 20px;
  color: white;
}
.nav ul{
  position: absolute;
  right:5px;
}
.nav ul li{
  display: inline-block;
}
.nav ul li a{
  text-align: center;
  text-decoration: none;
  transition: 0.15s ease-in-out;
  position: relative;
  text-transform: uppercase;
  color: white;
  padding: 10px;
}

.menu{
  display: flex;
}
.nav ul li a::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: white;
}

.nav ul li a:hover:after{width: 100%}

.open-menu, .close-menu{
  position: absolute;
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
  display: none;
  
}

.open-menu{
  top: 50%;
  right: 20px;
  transform: translateY(-50%)
}

.close-menu{
  top: 20px;
  right: 20px;
}

#check{display: none;}



.home{
  background: url("bg-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /*background-attachment: fixed;
  background-position: center;
  height: 100%;
  width: 100%;
  position: fixed;*/
}
.home .text-container{
  font-size: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: whitesmoke;
  text-shadow: 5px;
}
.about .about-content{
  margin: 150px auto 0 auto;
  width: 500px;
}
.about .about-content h1{
  text-align: center;
  font-family: 'Roboto',Sans-Serif;
  color: #abd000;
}
.about .about-content p{
  text-align: justify;
  font-family: 'Lato',Sans-Serif;
  color:#aadfff;
  font-size: 20px
}
.services .services-content{
  margin:80px auto 0 auto;
  text-align: center;
  margin: 5px;
}
.services-content .card-container ul{
  padding: 0;
}

.services-content .card-container ul li img{
  width: 500px;
}

.services-content .card-container ul li p{
  text-align: center;
  color: darkblue;
}
.services .services-content h1{
  font-family: 'Lato', Sans-Serif;
  color: darkgreen;
}
.services .services-content .card-container p{
  text-align: center;
  font-family: 'Lato', Sans-Serif;
  color: darkblue;
}
.contact .contact-content{
  margin: 80px auto 0 auto;
  text-align: center;
}
.contact .contact-content h1{
  font-family: 'Roboto',Sans-Serif;
  color: red;
}
.contact .contact-content .address-holder {
  font-family: 'Lato',Sans-Serif;
  color: #aa00ff;
}

.login{
 background: url("bg-login.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: relative;
  height: 100%;
  width: 100%;
  position: fixed;
}



h1, button{
  text-align: center;
  font-family: Roboto;
}
input{
  width: 70%;
  margin: 10px;
  padding: 5px;
  border: solid 2px deepSkyBlue;
  border-radius: 20px;
}

#pwcheck{
  float: left;
  font-size: 10px;
}

button{
  width: 30%;
  margin: 20px;
  padding: 5px;
  border: solid 2px deepSkyBlue;
  border-radius: 20px 0 20px 0;
}
.hover-me:hover{
  background-color: deepSkyBlue;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* vh stands for viewport height */
}

form {
  width: 80%; /* adjust this value to control the form's width */
  border: solid 2px deepSkyBlue;
  border-radius: 30px;
  padding: 20px;
  background:linear-gradient(45deg,lightCyan,deepSkyBlue,skyBlue);
}

@media(max-width: 610px){
  .menu{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100vh;
    position: fixed;
    top:0;
    right: -100%;
    z-index: 100;
    background-color: black;
    transition: all 0.2s ease-in-out; 
    
  }
  
  .menu li {
    margin-top: 40px;
  }
  
  .menu li a{
    padding: 10px;
  }
  
  .open-menu, .close-menu{
    display: block;
  }
  
  #check:checked ~ .menu{
    right: 0;
  }
  
  .home .text-container{
  font-size: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: whitesmoke;
  text-shadow: 5px;
}

.about .about-content{
  margin: 50px auto 0 auto;
  width:300px;
}

.about .about-content p{
  font-size: 10px;
}

.services-content .card-container ul li img{
  width: 200px;
}

#pwcheck{
  font-size: 5px;
}

  
}