@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato');
.nav{
  height: 50px;
  background: #aaaadd;
}
.nav div{
  display: inline-block;
  position: absolute;
  left:0px;
  padding: 15px;
  font-size: 20px;
  color: white;
}
.nav ul{
  position: absolute;
  right:5px;
}
.nav ul li{
  display: inline-block;
}
.nav ul li a{
  color: white;
  padding: 5px;
}
.home{
  background: url("bg-image.jpg");
  background-size: cover;
  height: 100vh;
}
.home .text-container{
  font-size: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  color: #0f00ff;
  text-shadow: 5px 5px 10px;
}
.about .about-content{
  margin: 150px auto 0 auto;
  width: 500px;
}
.about .about-content h1{
  text-align: center;
  font-family: 'Roboto',Sans-Serif;
  color: #abd000;
}
.about .about-content p{
  text-align: justify;
  font-family: 'Lato',Sans-Serif;
  color:#00dff0;
}
.services .services-content{
  margin:80px auto 0 auto;
  text-align: center;
}
.services-content .card-container ul{
  padding: 0;
}
.services-content .card-container ul li{
  list-style: none;
  display: inline-block;
  margin: 20px;
  width:200px;
}
.services-content .card-container ul li p{
  text-align: justify;
}
.services .services-content h1{
  font-family: 'Lato', Sans-Serif;
  color: red;
}
.services-content .card-container p{
  text-align: justify;
  font-family: 'Lato', Sans-Serif;
  color: green;
}
.contact .contact-content{
  margin: 80px auto 0 auto;
  text-align: center;
}
.contact .contact-content h1{
  font-family: 'Roboto',Sans-Serif;
  color: red;
}
.contact .contact-content .address-holder {
  font-family: 'Lato',Sans-Serif;
  color: #aa00ff;
}